body {  

	font-family: Verdana, Arial, Helvetica, sans-serif; 

	font-size: 9pt; 


}


td {  

	font-family: Verdana, Arial, Helvetica, sans-serif; 

	font-size: 9pt; 


}



p {  

	font-family: Verdana, Arial, Helvetica, sans-serif; 

	font-size: 9pt;


}



h2 {	

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 9pt;


}

		

h3 {	

	font-family: Verdana, Arial, Helvetica, sans-serif; 

	font-size: 9pt


}



ul {  

	font-family: Verdana, Arial, Helvetica, sans-serif; 

	font-size: 9pt; 


}


li {  

	font-family: Verdana, Arial, Helvetica, sans-serif; 

	font-size: 9pt; 


}




/*
     FILE ARCHIVED ON 07:35:56 Jun 30, 2007 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 02:43:00 Nov 20, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.55
  exclusion.robots: 0.026
  exclusion.robots.policy: 0.015
  esindex: 0.013
  cdx.remote: 15.335
  LoadShardBlock: 76.181 (3)
  PetaboxLoader3.datanode: 101.738 (4)
  load_resource: 106.013
  PetaboxLoader3.resolve: 31.654
*/